<div class="wrapper">
    <div class="container">
        <div class="content">
            <div class="icon-container">
                <img src="../../../assets/images/cancellation/complete-cancel.png" alt="">
            </div>
            <div class="title">Confirm cancellation</div>
            <div class="description">GBus will not hold your ticket anymore</div>
        </div> <br>
        <div class="button-container">
            <button class="back-button">Back to Homepage</button>
        </div>
    </div>
</div>