<div class="big-frame-container">
    <div class="container">
      <div class="inner-container">
        <div class="icon-container">
          <img src="images/house.png" alt="House Icon" class="icon">
        </div>
        <div class="text-container">
          <div class="text home">Home</div>
        </div>
      </div>
      <div class="separator">/</div>
      <div class="text-container">
        <div class="text history">History</div>
      </div>
    </div>
    <div class="sidebar-div">
      <div class="sidebar-frame-div"></div>
        <div class="title-sidebar-div" style="top: 16px;">Account</div>
  
        <div class="sidebar-container" style="top: 44px;">
          <div class="sidebar-item">
              <div class="sidebar-sub-item">
                  <div class="sidebar-icon-container">
                      <img src="images/person.png" alt="Person" class="icon">
                  </div>
                  <div class="sidebar-text">Personal Information</div>
              </div>
          </div>
          <div class="sidebar-item">
              <div class="sidebar-sub-item">
                  <div class="sidebar-icon-container">
                      <img src="images/credit_card.png" alt="Payment Information" class="icon">
                  </div>
                  <div class="sidebar-text">Payment Information</div>
              </div>
          </div>
        </div>
        <div class="title-sidebar-div" style="top: 128px;">Activites</div>
        <div class="sidebar-container" style="top: 156px;">
          <div class="sidebar-item">
              <div class="sidebar-sub-item">
                  <div class="sidebar-icon-container">
                      <img src="images/article.png" alt="Booking History" class="icon">
                  </div>
                  <div class="sidebar-text" style="color: #4D56BE">Booking History</div>
              </div>
          </div>
          <div class="sidebar-item">
              <div class="sidebar-sub-item">
                  <div class="sidebar-icon-container">
                      <img src="images/local_activity.png" alt="Promotions" class="icon">
                  </div>
                  <div class="sidebar-text">Promotions</div>
              </div>
          </div>
          <div class="sidebar-item">
            <div class="sidebar-sub-item">
                <div class="sidebar-icon-container">
                    <img src="images/edit_square.png" alt="Trip Ratings" class="icon">
                </div>
                <div class="sidebar-text">Trip Ratings</div>
            </div>
          </div>
          <div class="sidebar-item">
            <div class="sidebar-sub-item">
                <div class="sidebar-icon-container">
                    <img src="images/redeem.png" alt="Promotional Invitation" class="icon">
                </div>
                <div class="sidebar-text">Promotional Invitation</div>
            </div>
          </div>
        </div>
        <div class="title-sidebar-div" style="top: 320px;">Support</div>
  
        <div class="sidebar-container" style="top: 348px;">
          <div class="sidebar-item">
              <div class="sidebar-sub-item">
                  <div class="sidebar-icon-container">
                      <img src="images/mail.png" alt="Feedback" class="icon">
                  </div>
                  <div class="sidebar-text">Feedback</div>
              </div>
          </div>
          <div class="sidebar-item">
              <div class="sidebar-sub-item">
                  <div class="sidebar-icon-container">
                      <img  src="images/closed_caption.png" alt="Language" class="icon">
                  </div>
                  <div class="sidebar-text">Language</div>
              </div>
          </div>
          <div class="sidebar-item">
            <div class="sidebar-sub-item">
                <div class="sidebar-icon-container">
                    <img src="images/help.png" alt="Help Center" class="icon">
                </div>
                <div class="sidebar-text">Help Center</div>
            </div>
          </div>
        </div>
  
        <div class="title-sidebar-div" style="top: 472px;">Settings</div>
        
        <div class="sidebar-container" style="top: 500px;">
          <div class="sidebar-item">
              <div class="sidebar-sub-item">
                  <div class="sidebar-icon-container">
                      <img src="images/door_open.png" alt="Person" class="icon">
                  </div>
                  <div class="sidebar-text">Log Out</div>
              </div>
          </div>
        </div>
  
    </div>
    
    <div class="ticket-div">
      <button class="other-ticket-button">
        Unpaid Tickets
      </button>
      <button class="other-ticket-button">
        Paid Tickets
      </button>
      <button class="ticket-button">
          <span class="unpaid-span">Cancellations</span>
          <div class="unpaid-divider"></div>      
        </button>
    </div>
    
  
      
    <div class="frameofticket" style="top: 287px;">      
        <div class="ticket-frame">
          <div class="total">Cancelled</div>
          <div class="total-value">1.000.000VND</div>
        </div>
        <div class="departure-frame">
          <div class="time-inline-flex-container">
            <div class="time-inline-flex-item">
              <div class="time-bigtext">07:00</div>
              <div class="time-date">(07/05)</div>            
            </div>
            <div class="ticket-info">
              <div class="frame-info">
                <div class="ticket-title">Ho Chi Minh - Nha Trang</div>
                <div class="ticket-description">Limousine Double Room</div>              
              </div>
              <div class="ticket-container">
                <div class="label-ticket">Seat</div>
                <div class="value-ticket">1B, 4B</div>              
              </div>
            </div>
          </div>
  
          <div class="time-inline-flex-container">
            <div class="time-inline-flex-item">
              <div class="time-bigtext">12:00</div>
              <div class="time-date">(18/05)</div>     
            </div>
  
            <div class="ticket-info">
              <div class="frame-info">
                <div class="ticket-title">Nha Trang - Ho Chi Minh</div>
                <div class="ticket-description">Limousine Double Room</div>              
              </div>
              <div class="ticket-container">
                <div class="label-ticket">Seat</div>
                <div class="value-ticket">4A, 4B</div>       
              </div>
            </div>
          </div>
  
        </div>
        <div class="ticket-relative-container">
          <button class="primary-button">Repurchase</button>
        </div>
      </div>
  
      <div class="frameofticket" style="top: 786px;">      
        <div class="ticket-frame">
          <div class="total">Cancelled</div>
          <div class="total-value">1.000.000VND</div>
        </div>
  
        <div class="departure-frame">
          <div class="time-inline-flex-container">
            <div class="time-inline-flex-item">
              <div class="time-bigtext">07:00</div>
              <div class="time-date">(07/05)</div>            
            </div>
            
            <div class="ticket-info">
              <div class="frame-info">
                <div class="ticket-title">Ho Chi Minh - Nha Trang</div>
                <div class="ticket-description">Limousine Double Room</div>              
              </div>
              <div class="ticket-container">
                <div class="label-ticket">Seat</div>
                <div class="value-ticket">2A, 3A</div>       
              </div>
            </div>
          </div>
          <div class="time-inline-flex-container">
            <div class="time-inline-flex-item">
              <div class="time-bigtext">12:00</div>
              <div class="time-date">(18/05)</div>     
            </div>
  
            <div class="ticket-info">
              <div class="frame-info">
                <div class="ticket-title">Nha Trang - Ho Chi Minh</div>
                <div class="ticket-description">Limousine Double Room</div>              
              </div>
              <div class="ticket-container">
                <div class="label-ticket">Seat</div>
                <div class="value-ticket">2C, 2D</div>       
              </div>
            </div>
          </div>
        </div>
        <div class="ticket-relative-container">
          <button class="primary-button">Repurchase</button>
          <button class="secondary-button">Cancel</button>
        </div>
      </div>
    </div>