<div style="width: 1440px; height: 2230px; position: relative; background: white">
    <div class="container">
      <div class="inner-container">
        <div class="icon-container">
          <img src="images/house.png" alt="House Icon" class="icon">
        </div>
        <div class="text-container">
          <div class="text home">Home</div>
        </div>
      </div>
      <div class="separator">/</div>
      <div class="text-container">
        <div class="text history">History</div>
      </div>
    </div>
    <div class="sidebar-div">
      <div class="sidebar-frame-div"></div>
        <div class="title-sidebar-div" style="top: 16px;">Account</div>
  
        <div class="sidebar-container" style="top: 44px;">
          <div class="sidebar-item">
              <div class="sidebar-sub-item">
                  <div class="sidebar-icon-container">
                      <img src="images/person.png" alt="Person" class="icon">
                  </div>
                  <div class="sidebar-text">Personal Information</div>
              </div>
          </div>
          <div class="sidebar-item">
              <div class="sidebar-sub-item">
                  <div class="sidebar-icon-container">
                      <img src="images/credit_card.png" alt="Payment Information" class="icon">
                  </div>
                  <div class="sidebar-text">Payment Information</div>
              </div>
          </div>
        </div>
        <div class="title-sidebar-div" style="top: 128px;">Activites</div>
        <div class="sidebar-container" style="top: 156px;">
          <div class="sidebar-item">
              <div class="sidebar-sub-item">
                  <div class="sidebar-icon-container">
                      <img src="images/article.png" alt="Booking History" class="icon">
                  </div>
                  <div class="sidebar-text" style="color: #4D56BE">Booking History</div>
              </div>
          </div>
          <div class="sidebar-item">
              <div class="sidebar-sub-item">
                  <div class="sidebar-icon-container">
                      <img src="images/local_activity.png" alt="Promotions" class="icon">
                  </div>
                  <div class="sidebar-text">Promotions</div>
              </div>
          </div>
          <div class="sidebar-item">
            <div class="sidebar-sub-item">
                <div class="sidebar-icon-container">
                    <img src="images/edit_square.png" alt="Trip Ratings" class="icon">
                </div>
                <div class="sidebar-text">Trip Ratings</div>
            </div>
          </div>
          <div class="sidebar-item">
            <div class="sidebar-sub-item">
                <div class="sidebar-icon-container">
                    <img src="images/redeem.png" alt="Promotional Invitation" class="icon">
                </div>
                <div class="sidebar-text">Promotional Invitation</div>
            </div>
          </div>
        </div>
        <div class="title-sidebar-div" style="top: 320px;">Support</div>
  
        <div class="sidebar-container" style="top: 348px;">
          <div class="sidebar-item">
              <div class="sidebar-sub-item">
                  <div class="sidebar-icon-container">
                      <img src="images/mail.png" alt="Feedback" class="icon">
                  </div>
                  <div class="sidebar-text">Feedback</div>
              </div>
          </div>
          <div class="sidebar-item">
              <div class="sidebar-sub-item">
                  <div class="sidebar-icon-container">
                      <img  src="images/closed_caption.png" alt="Language" class="icon">
                  </div>
                  <div class="sidebar-text">Language</div>
              </div>
          </div>
          <div class="sidebar-item">
            <div class="sidebar-sub-item">
                <div class="sidebar-icon-container">
                    <img src="images/help.png" alt="Help Center" class="icon">
                </div>
                <div class="sidebar-text">Help Center</div>
            </div>
          </div>
        </div>
  
        <div class="title-sidebar-div" style="top: 472px;">Settings</div>
        
        <div class="sidebar-container" style="top: 500px;">
          <div class="sidebar-item">
              <div class="sidebar-sub-item">
                  <div class="sidebar-icon-container">
                      <img src="images/door_open.png" alt="Person" class="icon">
                  </div>
                  <div class="sidebar-text">Log Out</div>
              </div>
          </div>
        </div>
  
    </div>
    
    <div class="ticket-div">
      <button class="other-ticket-button">
          Unpaid Tickets
        </button>
      <button class="ticket-button">
        <span class="unpaid-span">Paid Tickets</span>
        <div class="unpaid-divider"></div>      
      </button>
      <button class="other-ticket-button">
        Cancellations
      </button>
    </div>
    
  
    <div class="frameofticket" style="top: 286px;">   
      <div class="frame-ticket-container">
        <div class="ticketof-container">
          <div class="total-label">Total</div>
          <div class="total-value">1.000.000VND</div>        
        </div>
        <div class="ongoing-container">
          <div class="ongoing-label">Ongoing</div>
        </div>
      </div>
  
        <div class="ticket-frame">
          <div style="flex: 1 1 0">
            <span class="info-label">Expected drop-off at:</span>
            <span class="info-important">15:45 - T2/07/05/2024 </span>
          </div>
        </div>
        <div class="departure-frame">
          <div class="time-inline-flex-container">
            <div class="time-inline-flex-item">
              <div class="time-bigtext">07:00</div>
              <div class="time-date">(07/05)</div>            
            </div>
            <div class="ticket-info">
              <div class="frame-info">
                <div class="ticket-title">Ho Chi Minh - Nha Trang</div>
                <div class="ticket-description">Limousine Double Room</div>              
              </div>
              <div class="ticket-container">
                <div class="label-ticket">Seat</div>
                <div class="value-ticket">1A, 3A</div>              
              </div>
            </div>
          </div>
  
          <div class="time-inline-flex-container">
            <div class="time-inline-flex-item">
              <div class="time-bigtext">12:00</div>
              <div class="time-date">(18/05)</div>     
            </div>
  
            <div class="ticket-info">
              <div class="frame-info">
                <div class="ticket-title">Nha Trang - Ho Chi Minh</div>
                <div class="ticket-description">Limousine Double Room</div>              
              </div>
              <div class="ticket-container">
                <div class="label-ticket">Seat</div>
                <div class="value-ticket">3B, 4B</div>       
              </div>
            </div>
          </div>
  
        </div>
        <div class="ticket-relative-container">
          <button class="view-invoice-button">View Invoice</button>
        </div>
      </div>
  
      <div class="frameofticket" style="top: 786px;">      
        <div class="frame-ticket-container">
          <div class="ticketof-container">
            <div class="total-label">Total</div>
            <div class="total-value">1.000.000VND</div>     
          </div>
          <div class="upcoming-container">
            <div class="upcoming-label">Upcoming</div>
          </div>
        </div>
  
        <div class="ticket-frame">
          <div style="flex: 1 1 0">
            <span class="info-label">Trip will depart in: </span>
            <span class="info-important" style="color: red;"> 16:30:38</span>
          </div>
        </div>
  
        <div class="departure-frame">
          <div class="time-inline-flex-container">
            <div class="time-inline-flex-item">
              <div class="time-bigtext">07:00</div>
              <div class="time-date">(07/05)</div>            
            </div>
            
            <div class="ticket-info">
              <div class="frame-info">
                <div class="ticket-title">Ho Chi Minh - Nha Trang</div>
                <div class="ticket-description">Limousine Double Room</div>              
              </div>
              <div class="ticket-container">
                <div class="label-ticket">Seat</div>
                <div class="value-ticket">1D, 2D</div>       
              </div>
            </div>
          </div>
          <div class="time-inline-flex-container">
            <div class="time-inline-flex-item">
              <div class="time-bigtext">12:00</div>
              <div class="time-date">(18/05)</div>     
            </div>
  
            <div class="ticket-info">
              <div class="frame-info">
                <div class="ticket-title">Nha Trang - Ho Chi Minh</div>
                <div class="ticket-description">Limousine Double Room</div>              
              </div>
              <div class="ticket-container">
                <div class="label-ticket">Seat</div>
                <div class="value-ticket">4A, 3D</div>       
              </div>
            </div>
          </div>
        </div>
        <div class="ticket-relative-container">
          <button class="primary-button">Pay Now</button>
          <button class="secondary-button">Cancel</button>
        </div>
      </div>
  
      <div class="frameofticket" style="top: 1284px;">      
        <div class="frame-ticket-container">
          <div class="ticketof-container">
            <div class="total-label">Total</div>
            <div class="total-value">1.000.000VND</div>     
          </div>
          <div class="complete-container">
            <div class="complete-label">Complete</div>
          </div>
        </div>
        <div class="ticket-frame">
          <div style="flex: 1 1 0">
            <span class="info-label">Trip completed at:</span>
            <span class="info-important">10:00 - T2/06/02/2024</span>
          </div>
        </div>
  
        <div class="departure-frame">
          <div class="time-inline-flex-container">
            <div class="time-inline-flex-item">
              <div class="time-bigtext">07:00</div>
              <div class="time-date">(07/05)</div>            
            </div>
            
            <div class="ticket-info">
              <div class="frame-info">
                <div class="ticket-title">Ho Chi Minh - Nha Trang</div>
                <div class="ticket-description">Limousine Double Room</div>              
              </div>
              <div class="ticket-container">
                <div class="label-ticket">Seat</div>
                <div class="value-ticket">2C, 3C</div>       
              </div>
            </div>
          </div>
          <div class="time-inline-flex-container">
            <div class="time-inline-flex-item">
              <div class="time-bigtext">12:00</div>
              <div class="time-date">(18/05)</div>     
            </div>
            <div class="ticket-info">
              <div class="frame-info">
                <div class="ticket-title">Nha Trang - Ho Chi Minh</div>
                <div class="ticket-description">Limousine Double Room</div>              
              </div>
              <div class="ticket-container">
                <div class="label-ticket">Seat</div>
                <div class="value-ticket">5C, 6C</div>       
              </div>
            </div>
          </div>
        </div>
        <div class="ticket-relative-container">
          <button class="primary-button">Pay Now</button>
          <button class="secondary-button">Cancel</button>
        </div>
      </div>
    </div>