<div class="wrapper">
  <div class="footer-container">
    <div class="col-1">
      <div class="col-1-images">
        <div class="col-1-image">
          <img srcset="./assets/images/G-bus_logo.png 2x" alt="" class="col-1-image">
        </div>
        <p class="text button-20 bold" style="color: var(--Primary-Purple500, #4D56BE);">GBus Joint Stock Company</p>
      </div>
      <div class="col-1-address">
        <p class="col-title text sub-16 sem">Address</p>
        <p class="text body-16 reg">Mapletree Business Center Building, 1060 Nguyen Van Linh, Tan Phong Ward, District 7, Ho Chi Minh City, Vietnam.</p>
      </div>
      <div class="col-1-install">
        <p class="col-title text sub-16 sem">Install GBus App:</p>
        <div class="col-1-install-image">
          <img srcset="./assets/images/ch-play.png 2x" alt="" class="col-1-install-image">
        </div>
      </div>
    </div>
    <div class="col-2">
      <p class="col-title text head-24 med">Connect with us</p>
      <div class="col-2-icons">
        <img srcset="./assets/images/facebook.png 2x" alt="" class="col-2-icon">
        <img srcset="./assets/images/linkedin.png 2x" alt="" class="col-2-icon">
        <img srcset="./assets/images/instagram.png 2x" alt="" class="col-2-icon">
        <img srcset="./assets/images/twitter.png 2x" alt="" class="col-2-icon">
      </div>
      <div class="col-2-contacts">
        <div class="col-2-contact">
          <p class="col-title text sub-16 sem">Fax:</p>
          <p class="text body-16 reg">0281234567</p>
        </div>
        <div class="col-2-contact">
          <p class="col-title text sub-16 sem">Hotline:</p>
          <p class="text body-16 reg">028 1234567</p>
        </div>
        <div class="col-2-contact">
          <p class="col-title text sub-16 sem">Email:</p>
          <p class="text body-16 reg"> {{gbus}} </p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <p class="col-title text head-24 med">GBus</p>
      <div class="col-3-items">
        <p class="text body-16 reg">About us</p>
        <p class="text body-16 reg">Schedule</p>
        <p class="text body-16 reg">Contact</p>
      </div>
    </div>
    <div class="col-4">
      <p class="col-title text head-24 med">Support</p>
      <div class="col-3-items">
        <p class="text body-16 reg">Look up ticket booking information</p>
        <p class="text body-16 reg">Terms of use</p>
        <p class="text body-16 reg">Frequently asked questions</p>
        <p class="text body-16 reg">Online booking instructions</p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p class="text body-20 reg"> {{copyright}} </p>
    
  </div>
</div>