<div style="width: 598px; justify-content: flex-start; align-items: center; display: inline-flex; color:#6C757D">
    <img src="../../../assets/images/view-invoice/house.png" alt="" id="home_tag">
    <a href="" id="nav">Home</a>
    <div style="padding: 8px;">/</div> 
    <a href="" id="nav">History</a>
    <div style="padding: 8px;">/</div> 
    View Invoice
</div>


<div style="width: 598px; height: 325px;">
    <h2>View Invoice</h2>
        <table>
            <tr>
                <td style="font-weight: 600;">Trip will depart in</td>
                <td class="arrive_time" style="width: 360px;">16:30:38</td>
                <td style="float:right;">        
                    <div style="width: 90px; height: 22px; background: #FFDDB5; font-weight: 400; font-size: 16px;color: #4D2E00; text-align: center;padding-top: 4px;">Upcoming</div>
                </td>
            </tr>
        </table>
        <p style="color: #6F757F;">Please get to the pick-up point <b>15 minutes</b> before our shuttle bus arrives. </p>

        <div class="sub-header">Boarding Instruction</div>
        <div style="padding-bottom: 16px;">Please ensure to check notifications on the app via your mobile phone prior to departure time and keep your phone reachable to receive calls from the driver or staff.
        </div>

        <div class="bus_info">
            <div class="sub">License plate number</div>
            <div class="license-plate">30A - 479.03</div>
            <div class="sub-header" style="padding-top: 16px;">Driver Information</div>
        
            <div class="driver-info">
                <div style="width: 405px; color: #6F757F;">Driver 1</div>
                <img src="../../../assets/images/view-invoice/phone_in_talk.png" alt="" width="20px">
                <span>(+84)123 456 789</span>
            </div> <br>
        
            <div class="driver-info">
                <div style="width: 405px;color: #6F757F;">Driver 2</div>
                <img src="../../../assets/images/view-invoice/phone_in_talk.png" alt="" width="20px">
                <span>(+84)123 456 789</span>
            </div>
        </div>
        

        <div class ="departure_tag" style="margin-top: 16px;">
            <table style="width: 598px;">
                <tr>
                    <td colspan="2">
                        <div class="departure-trip">
                            <div class="title">Departure Trip</div>
                            <div class="trip-icon">
                                <div class="icon-container">
                                    <img src="../../../assets/images/view-invoice/group.png" alt="" width="16px" height="16px"> 
                                    <div class="icon-letter">2</div>
                                </div>
                            </div>
                        </div>                        
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr class="custom-hr">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="trip-info">
                            <div>
                                <img src="../../../assets/images/view-invoice/Group 5743.png" alt="" class="trip-image">
                            </div>
                            <div class="trip-details">
                                <div class="title">Limousine Single Room</div>
                                <div id ="body16gray">20 seats, 1 bathroom</div>
                                <div class="seat-details">
                                    <div id ="body16gray">Seat number</div>
                                    <div class="seat-numbers">4A, 4B</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table>
                            <tr>
                                <td class="title" style="padding-left: 16px;">06:50</td>
                                <td style="padding-left: 24px; padding-right: 24px;"><img src="../../../assets/images/view-invoice/my_location.png" alt=""></td>
                                <td class="title" style="width: 400px;">Ben Xe Mien Dong</td>
                                <td><a href="" style="color: #6F757F; font-weight: 400; font-size: 14px;">Edit</a></td>
                            </tr>
                            <tr>
                                <td style="color: #6F757F; font-size: 14px;padding-left: 16px;vertical-align: top;" rowspan="3">(07/05)</td>
                                <td rowspan="3"></div></td>
                            <td style="color: #6F757F; font-weight: 400; font-size: 14px;">292 Dinh Bo Linh Street, Ward 26, Binh Thanh</td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px; font-weight: 500">Expected pick-up at 11:50 - Mon, 18/05/2024</td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td class="title" style="padding-left: 16px;">16:00</td>
                                <td style="padding-left: 24px; padding-right: 24px;padding-top: 16px;"><img src="../../../assets/images/view-invoice/location_on.png" alt=""></td>
                                <td class="title" style="width: 400px;">Nha Trang Office</td>
                                <td><a href="" style="color: #6F757F; font-weight: 400; font-size: 14px;">Edit</a></td>
                            </tr>
                            <tr>
                                <td style="color: #6F757F; font-size: 14px;padding-left: 16px;vertical-align: top;" rowspan="3">(07/05)</td>
                                <td rowspan="3"></td>
                                <td id="body14">292 Dinh Bo Linh Street, Ward 26, Binh Thanh</td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px; font-weight: 500; padding-bottom: 16px;">Expected pick-up at 11:50 - Mon, 18/05/2024</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            
        </div>

        <div class ="departure_tag" style="margin-top: 16px;">
            <table style="width: 598px; height: 325px;">
                <tr>
                    <td colspan="2">
                        <div class="departure-trip">
                            <div class="title">Return Trip</div>
                            <div class="trip-icon">
                                <div class="icon-container">
                                    <img src="../../../assets/images/view-invoice/group.png" alt="" width="16px" height="16px"> 
                                    <div class="icon-letter">2</div>
                                </div>
                            </div>
                        </div>                        
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr class="custom-hr">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="trip-info">
                            <div>
                                <img src="../../../assets/images/view-invoice/Group 5743.png" alt="" class="trip-image">
                            </div>
                            <div class="trip-details">
                                <div class="title">Limousine Double Room</div>
                                <div id ="body16gray">20 seats, 1 bathroom</div>
                                <div class="seat-details">
                                    <div id ="body16gray">Seat number</div>
                                    <div class="seat-numbers">1C, 2C</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table>
                            <tr>
                                <td class="title" style="padding-left: 16px;">16:00</td>
                                <td style="padding-left: 24px; padding-right: 24px;"><img src="../../../assets/images/view-invoice/my_location.png" alt=""></td>
                                <td class="title" style="width: 400px;">Nha Trang Office</td>
                                <td><a href="" id ="body14">Edit</a></td>
                            </tr>
                            <tr>
                                <td style="color: #6F757F; font-size: 14px;padding-left: 16px;vertical-align: top;" rowspan="3">(18/05)</td>
                                <td rowspan="3"></div></td>
                            <td style="color: #6F757F; font-weight: 400; font-size: 14px;">10 Yersin, Van Thanh Ward, Nha Trang</td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px; font-weight: 500">Expected pick-up at 11:50 - Mon, 18/05/2024</td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td class="title" style="padding-left: 16px;">20:00</td>
                                <td style="padding-left: 24px; padding-right: 24px;padding-top: 16px;"><img src="../../../assets/images/view-invoice/location_on.png" alt=""></td>
                                <td class="title" style="width: 400px;">Ben Xe Mien Dong</td>
                                <td><a href="" style="color: #6F757F; font-weight: 400; font-size: 14px;">Edit</a></td>
                            </tr>
                            <tr>
                                <td style="color: #6F757F; font-size: 14px;padding-left: 16px;vertical-align: top;" rowspan="3">(18/05)</td>
                                <td rowspan="3"></td>
                                <td style="color: #6F757F; font-weight: 400; font-size: 14px;">292 Dinh Bo Linh Street, Ward 26, Binh Thanh</td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px; font-weight: 500; padding-bottom: 16px;">Expected drop-off at 19:30 - Mon, 18/05/2024</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
            </table>
        </div>

        <div style="padding-top: 40px;">
            <button class="primary-button">
                Back to Homepage
            </button> 
        </div>
        <div class="issues-text-container">
            <div class="centered-text">Having issues?</div>
            <div class="issues-text">Tell us</div>
        </div>
</div>
<div class="trip-info-container">
    <table class="trip-info-table">
        <tr>
            <td class="title" style="padding-bottom: 16px;" colspan="2">Trip Information</td>
        </tr>
        <tr>
            <td class="sub-header" colspan="2">Passenger Details</td>
        </tr>
        <tr>
            <td class="label">Name</td>
            <td class="value">Nguyen Quoc Khanh</td>
        </tr>
        <tr>
            <td class="label">Phone Number</td>
            <td class="value">(+84)123 456 789</td>
        </tr>
        <tr>
            <td class="label">Email</td>
            <td class="value">khanhnq@gmail.com</td>
        </tr>
        <tr>
            <td class="sub-header" colspan="2">Trip Details</td>
        </tr>
        <tr>
            <td class="label">Time of payment</td>
            <td class="value">Feb 05, 2024 at 10:17AM</td>
        </tr>
        <tr>
            <td class="label">Transaction Number</td>
            <td class="value">49156JA835</td>
        </tr>
        <tr>
            <td class="label">Trip</td>
            <td class="value">Round-trip</td>
        </tr>
        <tr>
            <td class="label">Bus Type</td>
            <td class="value">Limousine Double Room</td>
        </tr>
        <tr>
            <td class="label">Quantity</td>
            <td class="value">4 tickets</td>
        </tr>
        <tr>
            <td class="label" rowspan="2">Seat Numbers</td>
            <td class="value">4A, 4B (Departure Trip)</td>
        </tr>
        <tr>
            <td class="value">2C, 2D (Return Trip)</td>
        </tr>
    </table>
</div>

<div>
    <table class="payment-detail-box">
        <tr>
            <td class="title" style="padding-bottom: 16px;">Payment Details</td>
        </tr>
        <tr>
            <td class="label" style="width: 200px;">Time of payment</td>
            <td class="value">Feb 05, 2024 at 10:17AM</td>
        </tr>
        <tr>
            <td class="label">Payment method</td>
            <td class="value">MoMo</td>
        </tr>
        <tr>
            <td class="label">Payment status</td>
            <td style="text-align: right; color: #068238;">Successful payment</td>
        </tr>
        <tr>
            <td class="label">Subtotal (4 tickets)</td>
            <td style="text-align: right;">1.200.000VND</td>
        </tr>
        <tr>
            <td class="label">Discount</td>
            <td style="text-align: right;  text-decoration: line-through; color: #6F757F; ">200.000VND</td>
        </tr>
        <tr>
            <td colspan="2"><hr></td>
        </tr>
        <tr>
            <td style="font-weight: 600; color: #6F757F; ">Total</td>
            <td style="text-align: right; font-weight: 600;">1.000.000VND</td>
        </tr>


    </table>
</div>