<div class="wrapper">
  <div class="container">
    <h1 class="text head-24 med" style="margin-bottom: 36px;">Log In</h1>
    <div class="login-form">
      <div class="phone-number">
        <label for="password" class="text body-20 reg" style="margin-bottom: 16px;">Input Password</label>
        <div style="display: flex; gap: 12px;">
          <input id="password" class="inp-phone-number text caption-14 reg" type="password" placeholder="Please enter your phone number" [(ngModel)]="password">
        </div>
      </div>
      <button class="button-primary large login-form-btn" (click)="checkPassword()">Log In</button>
      <div class="register">
        <p class="text caption-14 reg">Forgot Password?</p>
        <p class="text sub-14 med" style="color: var(--Primary-Purple500, #4D56BE); cursor: pointer;" (click)="resetPassword()">Reset Password</p>
      </div>
    </div>
    
  </div>
</div>