<div class="wrapper">
    <div class="container">
        <div class="content">
            <div class="icon-container">
                <img src="help.png" alt="">
            </div>
            <div class="title">Confirm cancellation</div>
            <div class="description">GBus will not hold your ticket anymore</div>
        </div> <br>
        <div class="button-container">
            <button class="back-button">Back</button>
            <button class="cancel-button" (click)="confirm()">Confirm</button>
        </div>
    </div>
</div>