<div class="wrapper">
  <div class="cancellation2">
      <div class="brc">
          <div class="caption-14 reg">
              <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">History</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Cancellation</li>
                  </ol>
              </nav>
          </div>
      </div>
      <div class="displayflex">
          <div>
              <div class="border-div">
                  <div class="sub-14 med">
                      <div class="oneselect">
                          <div style="padding-bottom: 12px;">
                              Account
                          </div>
                          <div class="childselect">
                              <div class="optionselect">
                                 <img src="\assets\images\cancellation2\ic_cancellation2_personalinfo.png">
                                 <p class="caption-14 reg" style="color: #6F757F;">Personal Information</p>
                              </div>
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_paymentinfor.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Personal Information</p>
                              </div>
                          </div>
                      </div>
                      <div class="oneselect">
                          <div style="padding-bottom: 12px;">
                              Activities
                          </div>
                          <div class="childselect">
                              <div class="optionselect">
                                  <img src="\assets\images\cancellation2\ic_cancellation2_bookinghistory.png">
                                  <p class="sub-14 med" style="color: #4D56BE;">Booking History</p>
                              </div>
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_promotions.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Promotions</p>
                              </div>
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_tripratings.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Trip Ratings</p>
                              </div>
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_promotionalinvitation.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Promotional Invitation</p>
                              </div>
                          </div>
                      </div>
                      <div class="oneselect">
                          <div style="padding-bottom: 12px;">
                              Support
                          </div>
                          <div class="childselect">
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_feedback.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Feedback</p>
                              </div>
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_language.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Language</p>
                              </div>
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_helpcenter.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Help Center</p>
                              </div>
                          </div>
                      </div>
                      <div class="oneselect">
                          <div style="padding-bottom: 12px;">
                              Settings
                          </div>
                          <div class="childselect">
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_logout.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Log Out</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <div class="border-div2">
                  <div class="head-24 med" style="margin-bottom: 24px;">
                      <p>Cancel Regulation</p>
                  </div>
                  <div class="body-16 reg">
                      <p>
                          Cancellation fees vary based on the time of cancellation and are applied according to the following regulations:
                      </p>
                      <div>
                          <table border="1px">
                              <tr class="sub-14 sem">
                                  <th>Time</th>
                                  <th>Refund</th>
                              </tr>
                              <tr>
                                  <td>
                                      Before 24 hours
                                  </td>
                                  <td>
                                      100% refund
                                  </td>
                              </tr>
                              <tr class="body-14 reg">
                                  <td>
                                      Before 12 hours
                                  </td>
                                  <td>
                                      50% refund
                                  </td>
                              </tr>
                              <tr class="body-14 reg">
                                  <td>Before 6 hours</td>
                                  <td>30% refund</td>
                              </tr>
                              <tr class="body-14 reg">
                                  <td>Within 6 hours</td>
                                  <td>No refund</td>
                              </tr>
                          </table>
                      </div>
                      <div class="notify">

                      </div>
                  </div>
                  <div class="notify">
                      <div>
                          <img src="\assets\images\cancellation2\ic_cancellation2_notify.png">
                      </div>
                      <div class="caption-14 reg">
                          Prior to departure
                      </div>
                  </div>
              </div>
              <div class="border-div3">
                  <div class="head-24 med" style="margin-bottom: 24px;">
                      <p>Choose reason to cancel</p>
                  </div>
                  <div>
                      <div class="text body-16 reg black">
                          <input type="radio" id="default" name="sort" value="default">
                          <label for="default">Incorrect route booked</label><br>
                        </div>
                        <hr>
                        <div class="text body-16 reg black">
                          <input type="radio" id="default" name="sort" value="default">
                          <label for="default">Wrong time/date selected</label><br>
                        </div>
                        <hr>
                        <div class="text body-16 reg black">
                          <input type="radio" id="default" name="sort" value="default">
                          <label for="default">No pick-up or transfer option available</label><br>
                        </div>
                        <hr>
                        <div class="text body-16 reg black">
                          <input type="radio" id="default" name="sort" value="default">
                          <label for="default">Lack of necessary amenities</label><br>
                        </div>
                        <hr>
                        <div class="text body-16 reg black">
                          <input type="radio" id="default" name="sort" value="default">
                          <label for="default">Busy schedule</label><br>
                        </div>
                        <hr>
                        <div class="text body-16 reg black">
                          <input type="radio" id="default" name="sort" value="default">
                          <label for="default">Other</label><br>
                        </div>
                  </div>
              </div>
              <div>
                  <button type="button">Confirm Cancel</button>
              </div>
              <div class="issue">
                  <div class="caption-14 reg">Having issues?</div>
                  <div class="text sub-14 med">
                      <p style="color: #4D56BE;">Tell us</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
