<div class="wrapper">
  <section class="notification">
      <div class="notification-container">
          <div class="brc">
              <div class="caption-14 reg">
                  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                      </ol>
                  </nav>
              </div>
          </div>
          <div class="notihead" style="display: flex; align-items:center;justify-content: space-between">
              <div class="body-20 reg">
                  Total Notifcation: {{notifications.length}}
              </div>
              <div class="caption--14 reg">
                  <div class="btnhead" style="display: flex; align-items: center; gap: 16px">
                      <div type="button" class="" style="color: #6F757F;cursor:pointer">Mark as All Read</div>
                      <div type="button" class="" style="color: #6F757F;cursor:pointer">Clear All</div>
                  </div>
              </div>
              
          </div>
        <div style="width: 100%;" *ngIf="isDaily">
            <div class="notiline" >
                <hr>
                <p  >Today ({{dailyNoti.length}})</p>
            </div>
            <div style="display: flex;flex-direction: column;gap: 16px;">
              <div class="notiitem" *ngFor="let noti of dailyNoti">
                  <div>
                      <img src="\assets\images\notification1\img_notification1_ticket.png">
                  </div>
                  <div class="noticontent" style="display: flex; flex-direction:column;gap: 8px;width: 100%;">
                      <div class="notititle" style="display: flex; align-items:center; justify-content:space-between">
                          <p class="sub-14 " [class.med]="noti.isRead === false"> {{noti.Title}} </p>
                          <p class="body-12 reg" style="color:rgb(111, 117, 127)"> {{formatTime(noti.Time,true)}} </p>
                      </div>
                      <div class="body-12 reg" style="color:rgb(111, 117, 127)">
                          <p style="margin-top: auto;">
                              {{noti.Message}}
                          </p>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div>
            
        </div>
        <div style="width: 100%;" *ngIf="isWeekly">
            <div class="notiline"  >
                <hr>
                <p >This Week ({{weeklyNoti.length}})</p>
            </div>
            <div style="display: flex;flex-direction: column;gap: 16px;">
              <div class="notiitem" *ngFor="let noti of weeklyNoti">
                  <div>
                    <img src="\assets\images\notification1\img_notification1_promotion.png">
                      
                  </div>
                  <div class="noticontent" style="display: flex; flex-direction:column;gap: 8px;width: 100%;">
                      <div class="notititle" style="display: flex; align-items:center; justify-content:space-between">
                          <p class="sub-14 " [class.med]="noti.isRead === false"> {{noti.Title}} </p>
                          <p class="body-12 reg" style="color:rgb(111, 117, 127)"> {{formatTime(noti.Time,true)}} </p>
                      </div>
                      <div class="body-12 reg" style="color:rgb(111, 117, 127)">
                          <p style="margin-top: auto;">
                              {{noti.Message}}
                          </p>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div>
            
        </div>
        <div style="width: 100%;" *ngIf="isMonthly">
            <div class="notiline" >
                <hr>
                <p>This Month ({{monthlyNoti.length}})</p>
            </div>
            <div style="display: flex;flex-direction: column;gap: 16px;">
              <div class="notiitem" *ngFor="let noti of monthlyNoti">
                  <div>
                    <img src="\assets\images\notification1\img_notification1_promotion.png">
                      
                  </div>
                  <div class="noticontent" style="display: flex; flex-direction:column;gap: 8px;width: 100%;">
                      <div class="notititle" style="display: flex; align-items:center; justify-content:space-between">
                          <p class="sub-14 " [class.med]="noti.isRead === false"> {{noti.Title}} </p>
                          <p class="body-12 reg" style="color:rgb(111, 117, 127)"> {{formatTime(noti.Time,true)}} </p>
                      </div>
                      <div class="body-12 reg" style="color:rgb(111, 117, 127)">
                          <p style="margin-top: auto;">
                              {{noti.Message}}
                          </p>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div>
            
        </div>
    </div>
  </section>
</div>
