<div class="wrapper">
  <div class="rating3">
      <div class="brc">
              <div class="caption-14 reg">
                  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Booking History</li>
                      </ol>
                  </nav>
              </div>
          </div>
          <div class="accountmanagementbox">
              <div class="border-div">
                  <div class="sub-14 med">
                      <div class="oneselect">
                          <div style="padding-bottom: 12px;">
                              Account
                          </div>
                          <div class="childselect">
                              <div class="optionselect">
                                  <img srcset={{portImageSelected}} alt="">
                                  <p class="sub-14 reg" style="color: #6F757F;">Personal Information</p>
                              </div>
                              <div class="optionselect">
                                  <img srcset={{portImageSelected1}} alt="">
                                  <p class="caption-14 reg" style="color: #6F757F;">Payment information</p>
                              </div>
                          </div>
                      </div>
                      <div class="oneselect">
                          <div style="padding-bottom: 12px;">
                              Activities
                          </div>
                          <div class="childselect">
                              <div class="optionselect">
                                  <img srcset={{portImageSelected2}} alt="">
                                  <p class="caption-14 med" style="color: #4D56BE;">Booking History</p>
                              </div>
                              <div class="optionselect">
                                  <img srcset={{portImageSelected3}} alt="">
                                  <p class="caption-14 reg" style="color: #6F757F;">Promotions</p>
                              </div>
                              <div class="optionselect">
                                  <img srcset={{portImageSelected4}} alt="">
                                  <p class="caption-14 reg" style="color: #6F757F;">Trip Ratings</p>
</div>
                              <div class="optionselect">
                                  <img srcset={{portImageSelected5}} alt="">
                                  <p class="caption-14 reg" style="color: #6F757F;">Promotional Invitation</p>
                              </div>
                          </div>
                      </div>
                      <div class="oneselect">
                          <div style="padding-bottom: 12px;">
                              Support
                          </div>
                          <div class="childselect">
                              <div class="optionselect">
                                  <img srcset={{portImageSelected6}} alt="">
                                  <p class="caption-14 reg" style="color: #6F757F;">Feedback</p>
                              </div>
                              <div class="optionselect">
                                  <img srcset={{portImageSelected7}} alt="">
                                  <p class="caption-14 reg" style="color: #6F757F;">Language</p>
                              </div>
                              <div class="optionselect">
                                  <img srcset={{portImageSelected8}} alt="">
                                  <p class="caption-14 reg" style="color: #6F757F;">Help Center</p>
                              </div>
                          </div>
                      </div>
                      <div class="oneselect">
                          <div style="padding-bottom: 12px;">
                              Settings
                          </div>
                          <div class="childselect">
                              <div class="optionselect">
                                  <img srcset={{portImageSelected9}} alt="">
                                  <p class="caption-14 reg" style="color: #6F757F;">Log Out</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="rating">
                  <div class="border-div2">
                      <div class="button-20 bold" style="margin-bottom: 16px;">Rating</div>
                      <h1 class="text head-24 med colorBlack" style="margin-bottom: 24px;" align="center">Are you satisfy with GBus?</h1>
                      <div class="rating-wrapper">
                          <div id="star" class="ratings checked" >
                              <span data-ratings="5">&#9733;</span>
                              <span data-ratings="4">&#9733;</span>
                              <span data-ratings="3">&#9733;</span>
                              <span data-ratings="2">&#9733;</span>
                              <span data-ratings="1">&#9733;</span>
                          </div>
                      </div>

                      <div class="ratingbox">
                          <p class="text sub-14 med">Add Image<p>
                          <p class="text sub-14 med" style="margin-left: 312px; margin-bottom: 16px;">Add videos</p>
                      </div>

                      <div class="ratingbox">
                          <div class="btn border-div3">
                              <img src="./assets/images/rating3/photo.png" alt="">
                          </div>

                          <div class="btn border-div3">
                              <img src="./assets/images/rating3/video.png" alt="">
                          </div>
                      </div>

                      <div class="formmargin">
                          <form action="" method="post">
                              <label for="details">
                                  <div class="text sub-14 med" style="margin-top: 24px; margin-bottom: 16px;">Details</div>
                              </label>
                              <textarea id="details" name="details" rows="5" cols="50" class="inp-name">Enjoy the services? Let’s us know</textarea>
                              
                          </form>
                      </div>
                          <div>
                              <button type="button" class="btn button-primary large button">Send</button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="Tellus">
                  <p class="text caption-14 reg">Having issues?</p>
                  <p class="text sub-14 med" style="color: var(--Primary-Purple500, #4D56BE); cursor: pointer;" >Tell us</p>
              </div>
          </div>
  </div>
