<div class="wrapper">
  <div class="background" id="screenBackground"></div>
  <div class="container">
    <h1 class="text head-24 med" style="margin-bottom: 36px;">Enter Verification Code</h1>
      <div class="forgot-password-form" >

        <div class="phone-number">
          <label for="OTP" class="inp-phone-number text sub-14 reg" style="margin-bottom: 16px;">OTP Code has been sent to Phone Number</label>
          <label for="OTP" class="inp-phone-number text sub-14 med" style="margin-bottom: 16px; margin-left: 4px;">   (+84) 123 456 ***</label>
        <div style="display: flex; gap: 12px;">
          <input style="margin-bottom: 24px;" id="OTP" class="inp-otp-number text sub-14 reg" type="number" placeholder="Please enter 4-digit verification code" [(ngModel)]="verificationCode">
        </div>    
      </div>

      <button class="button-primary large forgot-password-form-button" (click)="verifyCode()">Verify</button>
      <div class="resend">
        <p class="text caption-14 reg">Not receive OTP Code?</p>
        <p class="text sub-14 med" style="color: var(--Primary-Purple500, #4D56BE); cursor: pointer;" >Resend</p>
      </div>
    </div>
</div>
