.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.background {
  background-color: black;
  opacity: 50%;
  width: 100vw;
  height: 100vh;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display:flex;
  align-items:center;
  flex-direction:column;
  margin: auto;
  background-color: white;
  width: 726px;
  flex-shrink: 0;
  padding: 36px 20px;
  border-radius: 12px;
  background: var(--Neutral-White, #FFF);
}

.inp-otp-number {
  width: 686px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid var(--Neutral-Grey100, #E2E4E7);
  background: var(--Neutral-White, #FFF);
  outline: none;
  padding: 16px;
}

.forgot-password-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 686px;
  height: 48px;
  border-radius: 8px;
  gap: 24px;
  background: var(--Primary-Purple500, #4D56BE);
}

.forgot-password-form {
  display:flex;
  align-items:left;
  justify-content:left;
  flex-direction:column;
  &-btn {
    width: 100%;
    height: 48px;
    font-size: 14px;
    font-weight: 400;
  }
  &-divider {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 12px;
    color: var(--Neutral-Grey300, #6F757F);
  }
}
hr {
  width: 14px;
}
.resend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  gap: 8px;
  margin-top: 24px;
}