<section class="popup" id="popup" *ngIf="isPopup === true">
  <div class="popup-container">
    <div class="background" (click)="cancelPopup()"></div>
    <div class="popup-item">
      <router-outlet name="auth-popup"></router-outlet>
    </div>
  </div>
</section>
<section class="header" >
  <div class="header-container" style="margin-bottom: 24px;">
    <div class="header-image">
      <img srcset="./assets/images/G-bus_logo.png 2x ">
    </div>
    <div class="header-nav">
      <ul class="menu text">
        <li class="menu-item head-24 med" (click)="headerNavSelected($event,0)" >
          <div class="menu-item-sub" [class.active]="selectedLink[0]">Homepage</div>
        </li>
        <li class="menu-item head-24 med" (click)="headerNavSelected($event,1)" >
          <div class="menu-item-sub" [class.active]="selectedLink[1]" >Schedule</div>
        </li>
        <li class="menu-item head-24 med" (click)="headerNavSelected($event,2)" >
          <div class="menu-item-sub" [class.active]="selectedLink[2]">Contact</div>
        </li>
        <li class="menu-item head-24 med" (click)="headerNavSelected($event,3)" >
          <div class="menu-item-sub" [class.active]="selectedLink[3]">About us</div>
        </li>
      </ul>
      
    </div>
    <div class="header-auth">
      <div class="header-auth-icon" >
        <span class="material-symbols-outlined icon-find sub">
          search
          </span>
      </div>
      <div *ngIf="isSigned === false">
        <div class="button auth head-24 med text sub" id="btnHeaderLogin" (click)="openLoginPopup()">Log in</div>
      </div>
      <div class="header-auth-signed" *ngIf="isSigned === true">
        <div class="notification" (click)="goToNotification()">
          <span class="material-symbols-outlined icon-find sub">
            notifications
          </span>
          <div class="notification-number text">9</div>
        </div>
        <div class="account" (click)="goToAccountManagement()">
          <span class="material-symbols-outlined icon-find sub">
            account_circle
          </span>
          <span class="material-symbols-outlined icon-find sub" style="font-size: 24px;">
            expand_more
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>