.header {
  &-container {
    display: flex;
    padding: 24px 60px;
    border-bottom: 1px solid var(--Primary-Purple500, #4D56BE);
  }
  &-image {
    max-width: 185px;
    margin: auto 0px;
  }
  &-nav {
    margin: 0px auto;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  &-auth {
    display: flex;
    align-items: center;
    gap: 36px;
    
  }
}
.btn{
  border: solid 1px white;
  padding: 0px;
}
.btn:focus {
  border: solid 1px white;
}
.btn:active {
  border: solid 1px white;
}
.dropdown-item:active, .dropdown-item:hover {
  background-color: white;
  color: var(--Primary-Purple500, #4D56BE);
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.icon-find{
  font-size: 42px;
  color: #6F757F;
  cursor: pointer;
}
.material-symbols-outlined.icon{
  font-size: 24px;
  margin-left: 10px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  &-item a {
    text-decoration: none;
    color: var(--Neutral-Grey300, #6F757F);
    &:hover {
      color: var(--Primary-Purple500, #4D56BE);
    }
  }
  &-item.active {
    color: var(--Primary-Purple500, #4D56BE);
  }
}