<div>
    <div class="container">
        <div class="inner-container">
            <div class="icon-container">
            <img src="images/house.png" alt="House Icon" class="icon">
            </div>
            <div class="text-container">
            <div class="text home">Home</div>
            </div>
        </div>
        <div class="separator">/</div>
        <div class="text-container">
            <div class="text-history">History</div>
        </div>
    </div>
  <div class="sidebar-div">
    <div class="sidebar-frame-div"></div>
      <div class="title-sidebar-div" style="top: 16px;">Account</div>

      <div class="sidebar-container" style="top: 44px;">
        <div class="sidebar-item">
            <div class="sidebar-sub-item">
                <div class="sidebar-icon-container">
                    <img src="images/person.png" alt="Person" class="icon">
                </div>
                <div class="sidebar-text">Personal Information</div>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="sidebar-sub-item">
                <div class="sidebar-icon-container">
                    <img src="images/credit_card.png" alt="Payment Information" class="icon">
                </div>
                <div class="sidebar-text">Payment Information</div>
            </div>
        </div>
      </div>
      <div class="title-sidebar-div" style="top: 128px;">Activites</div>
      <div class="sidebar-container" style="top: 156px;">
        <div class="sidebar-item">
            <div class="sidebar-sub-item">
                <div class="sidebar-icon-container">
                    <img src="images/article.png" alt="Booking History" class="icon">
                </div>
                <div class="sidebar-text" style="color: #4D56BE">Booking History</div>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="sidebar-sub-item">
                <div class="sidebar-icon-container">
                    <img src="images/local_activity.png" alt="Promotions" class="icon">
                </div>
                <div class="sidebar-text">Promotions</div>
            </div>
        </div>
        <div class="sidebar-item">
          <div class="sidebar-sub-item">
              <div class="sidebar-icon-container">
                  <img src="images/edit_square.png" alt="Trip Ratings" class="icon">
              </div>
              <div class="sidebar-text">Trip Ratings</div>
          </div>
        </div>
        <div class="sidebar-item">
          <div class="sidebar-sub-item">
              <div class="sidebar-icon-container">
                  <img src="images/redeem.png" alt="Promotional Invitation" class="icon">
              </div>
              <div class="sidebar-text">Promotional Invitation</div>
          </div>
        </div>
      </div>
      <div class="title-sidebar-div" style="top: 320px;">Support</div>

      <div class="sidebar-container" style="top: 348px;">
        <div class="sidebar-item">
            <div class="sidebar-sub-item">
                <div class="sidebar-icon-container">
                    <img src="images/mail.png" alt="Feedback" class="icon">
                </div>
                <div class="sidebar-text">Feedback</div>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="sidebar-sub-item">
                <div class="sidebar-icon-container">
                    <img  src="images/closed_caption.png" alt="Language" class="icon">
                </div>
                <div class="sidebar-text">Language</div>
            </div>
        </div>
        <div class="sidebar-item">
          <div class="sidebar-sub-item">
              <div class="sidebar-icon-container">
                  <img src="images/help.png" alt="Help Center" class="icon">
              </div>
              <div class="sidebar-text">Help Center</div>
          </div>
        </div>
      </div>

      <div class="title-sidebar-div" style="top: 472px;">Settings</div>
      
      <div class="sidebar-container" style="top: 500px;">
        <div class="sidebar-item">
            <div class="sidebar-sub-item">
                <div class="sidebar-icon-container">
                    <img src="images/door_open.png" alt="Person" class="icon">
                </div>
                <div class="sidebar-text">Log Out</div>
            </div>
        </div>
      </div>

  </div>


  
    <div class="cancel-regu">
        <h2>Cancel Regulation</h2> 
        <p>Cancellation fees vary based on the time of cancellation and are applied according to the following regulations:
        </p>
        <table class ="regu-table">
            <tr>
                <th>Time</th>
                <th>Refund</th>
            </tr>
            <tr>
                <td>Before 12 hours</td>
                <td>50% refund</td>
            </tr>
            <tr>
                <td>Before 6 hours</td>
                <td>30% refund</td>
            </tr>
            <tr>
                <td>Within 6 hours</td>
                <td>No refund</td>
            </tr>
        </table>


        <div class="custom-div-prior">
            <div class="icon-container">
                <img src="images/error.png" alt="" width="16px">
            </div>
            <div class="text">Prior to departure</div>
        </div>

        <div class ="estimate-calculation-container">
            <h2>Estimate calculation</h2>
            <table class ="estimate-calculation-table" >
                <tr>
                    <td id ="body16gray">Departure Time</td>
                    <td style="text-align: right;">Feb 05, 2024 at 10:17AM</td>
                </tr>
                <tr>
                    <td id ="body16gray">Total Payment</td>
                    <td style="text-align: right;">1.700.000VND</td>
                </tr>
                <tr>
                    <td id ="body16gray">Amount of refund</td>
                    <td style="text-align: right;">50%</td>
                </tr>
                <tr>
                    <td id ="body16gray">Cancellation fee</td>
                    <td style="text-align: right;">- 850.000VND</td>
                </tr>
                <tr>
                    <td colspan="2"><hr></td>
                </tr>
                <tr>
                    <td style="font-weight: 600; color: #6F757F; text-align: left; ">Refundable Amount</td>
                    <td style="text-align: right; font-weight: 600;">850.000VND</td>
                </tr>
            </table>

        </div>

        <div class="cancel-reasons-container">
            <h2>Choose reason to cancel</h2>
                <label class="radio-container" style="padding-top: 24px;">Incorrect route booked
                    <input type="radio" name="cancel-reason" value="change-of-plans"> <br>
                    <span class="checkmark" style="margin-top: 24px;"></span>
                </label>
                <hr class="custom-hr">
                <label class="radio-container">Wrong time/date selected
                    <input type="radio" name="cancel-reason" value="emergency"> <br>
                    <span class="checkmark"></span>
                </label>
                <hr class="custom-hr">
                <label class="radio-container">No pick-up or transfer option available
                    <input type="radio" name="cancel-reason" value="financial-issues"> <br>
                    <span class="checkmark"></span>
                </label>
                <hr class="custom-hr">
                <label class="radio-container">Lack of necessary amenities
                    <input type="radio" name="cancel-reason" value="other"> <br>
                    <span class="checkmark"></span>
                </label> 
                <hr class="custom-hr">
                <label class="radio-container">Busy schedule
                    <input type="radio" name="cancel-reason" value="other"> <br>
                    <span class="checkmark"></span>
                </label>
                <hr class="custom-hr">
                <label class="radio-container">Other
                    <input type="radio" name="cancel-reason" value="other"> <br>
                    <span class="checkmark"></span>
                </label>
        </div>
        <div>
            <button class="primary-button">
                Confirm Cancel
            </button> 
        </div>
    </div>
    


  

    
</div>