<div class="wrapper">
  <div class="background" id="screenBackground">
      <div class="container">
          <h1 class="text head-24 med colorBlack" style="margin-bottom: 36px;">Are you satisfy with GBus?</h1>
          <p class="text body-20 reg colorBlack" style="margin-bottom: 42px;" align="center">What do you think about experiences at GBus? Let's share with us and improve value together. </p>
          
          <div class="rating-wrapper">
              <div id="start" class="ratings">
                  <span data-ratings="5" >&#9733;</span>
                  <span data-ratings="4">&#9733;</span>
                  <span data-ratings="3">&#9733;</span>
                  <span data-ratings="2">&#9733;</span>
                  <span data-ratings="1">&#9733;</span>
              </div>
          </div>
      </div>
  </div>
</div>