<div class="wrapper">
  <div class="background" id="screenBackground">
      <div class="container">
          <img srcset={{portImageSelected}} alt="" style="margin-bottom: 24px;">
          <h1 class="text head-24 med colorBlack" style="margin-bottom: 36px;">Excellence!</h1>
          <p class="text body-20 reg colorBlack" style="margin-bottom: 42px;" align="center">Thanks for your experience at GBus!  We’re delighted to hear that you were happy with our service. Hope to see you again!</p>
          <button class="btn button-primary large button">Back to Homepage</button>
      </div>
  </div>
</div>