.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.background {
  background-color: black;
  opacity: 50%;
  width: 100vw;
  height: 100vh;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display:flex;
  align-items:center;
  flex-direction:column;
  margin: auto;
  background-color: white;
  width: 726px;
  flex-shrink: 0;
  padding: 36px 20px;
  border-radius: 12px;
  background: var(--Neutral-White, #FFF);
}

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 686px;
    height: 48px;
    border-radius: 8px;
    background: var(--Primary-Purple500, #4D56BE);
  }

  .colorBlack{
    color: #000;
  }


  