<p-toast 
  [life]="3000"
  key="success"
  severity="success">
  <ng-template let-message pTemplate="message" >
    <div style="padding: 16px; width: 100%;display: flex;align-items: start;gap: 16px;">
      <div>
        <img src="./assets/images/Gbus-logo-avt.png" style="width: 42px;" alt="">
      </div>
      <div style="display: flex;flex-direction: column; gap: 8px;align-items: start;">
        <div class="text body-16 sem" style="color: black;">Your ticket is successful booked!</div>
        <div class="text caption-14 reg" style="color: #6F757F;">Your seat(s) has be held for 15 minutes, please make payment to confirm order</div>
      </div>
    </div>
  </ng-template>
</p-toast>
<div class="wrapper">
  <ng-template #editVoucher let-offPcanvas>
    <div style="background-color: white; height: 100vh;">
      <div class="offcanvas-header" style="display: flex;align-items: center;gap: 24px; width: 100%;padding: 24px;background-color: #4D56BE;">
        <span class="material-symbols-outlined" style="color: white;font-size: 30px;cursor: pointer;" (click)="offPcanvas.dismiss('Cross click')">
          arrow_left_alt
        </span>
        <div class="text sub-16 sem" style="display: flex;flex-direction: column;gap: 8px; color: white;">
          <div class="body-20 reg">Edit Voucher</div>
        </div>
      </div>
      <div class="offcanvas-body" style="display: flex;flex-direction: column;padding: 24px;gap: 16px;width: 100%;">
        <div class="ticket-item-booking-location-item-list" style="overflow-y: scroll;width: 100%;height: 100vh;margin-bottom: 136px;gap: 16px">
          <div class="voucher"  *ngFor="let voucher of vouchers;let i = index" >
            <div class="voucher-flex" [class.invalid]="checkValidVoucher(voucher)">
                <div class="voucher-ic1">
                    <div><img src={{voucher.image}}></div>
                    <div clas="sub-14 sem" style="font-weight: 600;"> {{voucher.percentage}} off</div>
                </div>
                <div style="height: 80px;">
                    <div class="head-24 med" style="margin-bottom: 16px;"> {{voucher.description}} </div>
                    <div class="sub-10 reg" style="margin-bottom: 12px;">Expired in {{voucher.expired}} </div>
                    <div class="sub-10 reg" style="margin-bottom: 12px; color:#0D6EFD;cursor: pointer;width: fit-content;">Condition</div>
                </div>
                <div style="position: relative;" style="margin-left: auto;">
                  <input type="radio" class="custom-radio" name="voucher" value="Visa" (click)="selectVoucher(voucher)">
                  <div class="radio-indicator"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="button button-primary update-button" (click)="offPcanvas.dismiss('Cross click')">Update</div>
      </div>
    </div>
  </ng-template>
  <div class="choosepaymentmethod">
      <div class="caption-14 reg">
          <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Passenger Information</a></li>
                <li class="breadcrumb-item active" aria-current="page">Payment</li>
              </ol>
          </nav>
      </div>
      <div class="displayflex">
          <div style="display: flex; flex-direction:column;">
              <div class="border-div">
                  <div class="text button-20 bold">
                      <p style="margin-bottom: 24px;">
                          Choose payment method
                      </p>
                  </div>
                  <div>
                      <div class="method-flex">
                          <div style="gap: 24px;" class="rad-method">
                            <label style="position: relative;">
                                <input type="radio" checked class="custom-radio" name="payment_method" value="momo" (click)="selectPaymentMethod('Momo')">
                                <div class="radio-indicator"></div>
                            
                            </label>
                            <img src="\assets\images\choosepaymentmethod\img_choosepaymentmethod_security_update_momo.png" style="margin-left: 24px;">
                          </div>
                          <div style="margin-left: 16px;">
                              <div class="methodchild-flex">
                                  <div class="text sub-16 sem" style="margin-right: 16px;">Momo</div>
                                  <div class="methodchild-tag">
                                      <p class="text sub-14 med">
                                          Recommended
                                      </p>
                                  </div>
                              </div>
                              <div class="text caption-14 reg">
                                  <p style="color: #6F757F;">
                                      Your phone must have the MoMo application installed
                                  </p>
                              </div>
                              <div class="methodchild-notify" style="margin-bottom: 8px;">
                                  <img src="\assets\images\choosepaymentmethod\img_choosepaymentmethod_security_update_good.png">
                                  <p>
                                      Safety, saves time input information, and limits errors
                                  </p>
                              </div>
                          </div>
                      </div>
                      <hr>
                  </div>
                  <div>
                      <div class="method-flex" style="margin-top: 24px;margin-bottom:12px">
                          <div style="gap: 24px;" class="rad-method">
                              <label>
                                <div style="position: relative;">
                                    <input type="radio" class="custom-radio" name="payment_method" value="Zalo" (click)="selectPaymentMethod('Zalo')">
                                    <div class="radio-indicator"></div>
                                </div>
                              </label>
                              <img src="\assets\images\choosepaymentmethod\img_choosepaymentmethod_zalo.png" style="margin-left: 24px;">
                          </div>
                          <div style="margin-left: 16px;">
                            
                              <div class="methodchild-flex">
                                  <div class="text sub-16 sem" style="margin-right: 16px;">Zalo</div>
                              </div>
                              <div class="text caption-14 reg" style="margin-bottom: 8px;">
                                  <p style="color: #6F757F;">
                                      Your phone must have the ZaloPay application installed
                                  </p>
                              </div>
                          </div>
                      </div>
                      <hr>
                  </div>
                  <div>
                      <div class="method-flex" style="margin-top: 24px;margin-bottom:12px">
                          <div style="gap: 24px;" class="rad-method">
                              <label>
                                <div style="position: relative;">
                                    <input type="radio" class="custom-radio" name="payment_method" value="Visa" (click)="selectPaymentMethod('VISA')">
                                    <div class="radio-indicator"></div>
                                </div>
                                  
                              </label>
                              <img src="\assets\images\choosepaymentmethod\img_choosepaymentmethod_security_update_mastercard.png" style="margin-left: 24px;">
                          </div>
                          <div style="margin-left: 16px;">
                              <div class="methodchild-flex">
                                  <div class="text sub-16 sem" style="margin-right: 16px;">
                                      VISA
                                  </div>
                              </div>
                              <div class="text caption-14 reg" style="margin-bottom: 8px;">
                                  <p style="color: #6F757F;">
                                      Your phone must linked to VISA account
                                  </p>
                              </div>
                          </div>
                      </div>
                  <hr> 
                  </div>
                  <div>
                      <div class="method-flex" style="margin-top: 24px;margin-bottom:12px">
                          <div style="gap: 24px;" class="rad-method">
                              <label>
                                <div style="position: relative;">
                                    <input type="radio" class="custom-radio" name="payment_method" value="momo" (click)="selectPaymentMethod('PayPal')">
                                    <div class="radio-indicator"></div>
                                </div>
                              </label>
                              <img src="\assets\images\choosepaymentmethod\img_choosepaymentmethod_security_update_mastercard (1).png" style="margin-left: 24px;">
                          </div>
                          <div style="margin-left: 16px;">
                              <div class="methodchild-flex">
                                  <div class="text sub-16 sem" style="margin-right: 16px;">
                                      PayPal
                                  </div>
                              </div>
                              <div class="text caption-14 reg" style="margin-bottom: 8px;">
                                  <p style="color: #6F757F;">
                                      Your phone must have the PayPal application installed
                                  </p>
                              </div>
                          </div>
                      </div>
                      <hr>
                  </div>
                  <div>
                      <div class="method-flex" style="margin-top: 24px;margin-bottom:12px">
                          <div style="gap: 24px;" class="rad-method">
                              <label>
                                <div style="position: relative;">
                                    <input type="radio" class="custom-radio" name="payment_method" value="Mastercard" (click)="selectPaymentMethod('Mastercard')">
                                    <div class="radio-indicator"></div>
                                </div>
                              </label>
                              <img src="\assets\images\choosepaymentmethod\img_choosepaymentmethod_security_update_mastercard (2).png" style="margin-left: 24px;">
                          </div>
                          <div style="margin-left: 16px;">
                              <div class="methodchild-flex">
                                  <div class="text sub-16 sem" style="margin-right: 16px;">
                                      Mastercard
                                  </div>
                              </div>
                              <div class="text caption-14 reg" style="margin-bottom: 8px;">
                                  <p style="color: #6F757F;">
                                      Your phone must linked to Mastercard account
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="mastercard" *ngIf="paymentMethod === 'Mastercard'">
                        <div class="mastercard-notice">
                          <span class="material-symbols-outlined" style="color: #4D56BE;font-size: 16px;">
                            admin_panel_settings
                          </span>
                          <div class="caption-14 reg text">To ensure account security, GBus will not save your bank account</div>
                        </div>
                        <div class="passenger-input">
                          <label for="name" class="text sub-16 med">Card Number<b style="color: #DD1F13;">*</b></label>
                          <input class="text cption-14 reg" type="text" id="name" placeholder="Insert card number" [(ngModel)]="cardNumber">
                        </div>
                        <div class="passenger-input">
                          <label for="name" class="text sub-16 med">Cardholder Name<b style="color: #DD1F13;">*</b></label>
                          <input class="text cption-14 reg" type="text" id="name" placeholder="Insert cardholder name" [(ngModel)]="cardHolderName">
                        </div>
                        <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 28px;">
                          <div class="passenger-input">
                            <label for="name" class="text sub-16 med">Expire Date<b style="color: #DD1F13;">*</b></label>
                            <input class="text cption-14 reg" type="text" id="name" placeholder="--/--" [(ngModel)]="expireDate">
                          </div>
                          <div class="passenger-input">
                            <label for="name" class="text sub-16 med">CVV<b style="color: #DD1F13;">*</b></label>
                            <div style="position: relative;">
                              <input class="text cption-14 reg" type="text" id="name" placeholder="--" [(ngModel)]="cvv" style="width: 100%;padding-right: 48px;">
                              <span class="material-symbols-outlined icon-help" style="position: absolute;">
                                help
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  
              </div>
              <div class="" style="display: flex; flex-direction: column;gap:24px;margin-top:40px">
                  <div class="btn btn-primary sub-14 sem" style="padding:17px 0px;background-color:#4D56BE;" (click)="payNow()">
                      Pay now
                  </div>
                  <div class="caption-14 reg" style="text-align: center;">
                      By placing this order, you  have already accepted to our
                      <b class="sub-14 med" style="color: #4D56BE;cursor:pointer;">
                          Terms and Policy
                      </b>
                  </div>
              </div>
          </div>
          <div class="column-2" style="width: 422px;">
              <div class="border-div2" style="display: flex;flex-direction: column;gap: 16px;height: fit-content;padding: 16px 0px;" > 
                  <div style="display: flex; align-items: center;justify-content: space-between;width: inherit;padding: 0px 16px;">
                    <div class="text body-20 reg">Sub Total ({{count(orderData.Departure.Seat) + count(orderData.Return.Seat)}} tickets)</div>
                    <div class="head-24 med color-primary" [class.active]="isVoucher"> {{convertMoney(orderData.Departure.Subtotal + orderData.Return.Subtotal)}} VND</div>
                  </div>
                  <div style="display: flex; align-items: center;justify-content: space-between;width: inherit;padding: 0px 16px;" *ngIf="isVoucher === true">
                    <div class="text body-20 reg">Discount</div>
                    <div class="head-24 reg" style="color: #ACAFB8;text-decoration: line-through;font-size: 20px;"> {{convertMoney(discount)}} VND</div>
                  </div>
                  <div style="display: flex; align-items: center;justify-content: space-between;width: inherit;padding: 0px 16px;border-top: solid 1px #E2E4E7;padding-top: 16px;" *ngIf="isVoucher === true">
                    <div class="text body-20 reg">Total</div>
                    <div class="head-24 med" style="color: #4D56BE;"> {{convertMoney(orderData.Departure.Subtotal + orderData.Return.Subtotal - discount)}} VND</div>
                  </div>
              </div>
              <div class="border-div3">
                  <div style="display: flex; align-items:center;justify-content:space-between;width:100%;margin-bottom:8px">
                      <div class="button-20 bold">Voucher</div>
                      <div onclick="togglePopup('popup1')" class="body-16 reg" style="text-decoration:underline; cursor:pointer" (click)="openStaticBackdrop(editVoucher)">
                          View all
                      </div>
                  </div>
                  <div>
                      <div class="voucher-container">
                          <div class="voucher"  *ngFor="let voucher of vouchers;let i = index" >
                              <div class="voucher-flex" [class.invalid]="checkValidVoucher(voucher)">
                                  <div class="voucher-ic1">
                                      <div><img src={{voucher.image}}></div>
                                      <div clas="sub-14 sem" style="font-weight: 600;"> {{voucher.percentage}} off</div>
                                  </div>
                                  <div>
                                      <div class="sub-14 sem" style="margin-bottom: 16px;"> {{voucher.description}} </div>
                                      <div class="sub-10 reg" style="margin-bottom: 12px;">Expired in {{voucher.expired}} </div>
                                      <div class="sub-10 reg" style="margin-bottom: 12px; color:#0D6EFD;cursor: pointer;width: fit-content;">Condition</div>
                                  </div>
                                  <div style="position: relative;">
                                    <input type="radio" class="custom-radio" name="voucher" value="Visa" (click)="selectVoucher(voucher)">
                                    <div class="radio-indicator"></div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="passenger-ticket-item">
                <div style="display: flex;flex-direction: column; gap: 16px;">
                  <div class="text button-20 bold">Booking Preview</div>
                  <div class="passenger-ticket-booked" *ngIf="orderData?.Departure?.Ticket !== ''">
                    <div class="passenger-ticket-booked-header">
                      <div class="text sub-16 sem">Departure Trip</div>
                      <div style="display: flex;align-items: center;gap: 4px;color: var(--neutral-grey-300);">
                        <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0; color: var(--neutral-grey-300);font-size: 16px;">
                          group
                        </span>
                        <div class="text body-12 reg"> {{count(orderData.Departure.Seat)}} </div>
                      </div>
                    </div>
                    <div style="width: 100%;height: 1px;background-color: var(--neutral-grey-100);"></div>
                    <div class="passenger-ticket-booked-body">
                      <div style="display: flex;gap: 12px;">
                        <div style="width: 61px;height: 61px;text-align: center;border-radius: 4px;overflow: hidden;">
                          <img src={{orderData.DepartImage}} alt="" style="width: 61px;min-height: 61px;">
                        </div>
                        <div style="display: flex;flex-direction: column;justify-content: space-between">
                          <div class="text sub-16 sem">Limousine Single Room</div>
                          <div style="display: flex;align-items: center;justify-content: space-between; width: 283px;">
                            <div class="text caption-16 reg" style="color: var(--neutral-grey-300);">Seat number</div>
                            <div class="text sub-16 med"> {{orderData.Departure.Seat.toString()}} </div>
                          </div>
                        </div>
                      </div>
                      
                      <div style="display: flex;flex-direction: column;gap: 24px;position: relative;">
                        <div style="border: dashed 0.5px var(--neutral-grey-300);height: 100%;position: absolute;z-index: 0;left: 62.5px;"></div>
                        <div style="display: flex;align-items: start;gap: 8px;background-color: transparent;z-index: 1;">
                          <div style="display: flex;flex-direction: column;gap: 4px;align-items: center;">
                            <div class="text sub-16 sem"> {{convertDateTime(orderData.Departure.DTime,"time")}} </div>
                            <div class="text caption-14 reg" style="color: var(--neutral-grey-300);"> ({{convertDateTime(orderData.Departure.DTime,"date")}}) </div>
                          </div>
                          <span class="material-symbols-outlined" style="color: black; font-size: 16px;background-color: white;">
                            my_location
                          </span>
                          <div style="display: flex;flex-direction: column;gap: 4px;align-items: start;">
                            <div class="text sub-16 sem" > {{orderData.Departure.PickUpLocation.Point}} </div>
                            <div class="text caption-14 reg" style="color: var(--neutral-grey-300);"> {{orderData.Departure.PickUpLocation.Address}} </div>
                          </div>
                          <div class="text caption-14 reg" style="text-decoration: underline;cursor: pointer;color: var(--neutral-grey-300);" >Edit</div>
                        </div>
                        <div style="display: flex;align-items: start;gap: 8px;background-color: white;z-index: 1;">
                          <div style="display: flex;flex-direction: column;gap: 4px;align-items: center;">
                            <div class="text sub-16 sem"> {{convertDateTime(orderData.Departure.ATime, "time")}} </div>
                            <div class="text caption-14 reg" style="color: var(--neutral-grey-300);"> ({{convertDateTime(orderData.Departure.ATime,"date")}}) </div>
                          </div>
                          <span class="material-symbols-outlined" style="color: black; font-size: 16px;">
                            location_on
                          </span>
                          <div style="display: flex;flex-direction: column;gap: 4px;align-items: start;">
                            <div class="text sub-16 sem"> {{orderData.Departure.DropOffLocation.Point}} </div>
                            <div class="text caption-14 reg" style="color: var(--neutral-grey-300);"> {{orderData.Departure.DropOffLocation.Address}} </div>
                          </div>
                          <div class="text caption-14 reg" style="text-decoration: underline;cursor: pointer;color: var(--neutral-grey-300);" >Edit</div>
                        </div>
                    </div>
                    </div>
                  </div>
                  <div class="passenger-ticket-booked" *ngIf="orderData?.Return?.Ticket !== ''">
                    <div class="passenger-ticket-booked-header">
                      <div class="text sub-16 sem">Return Trip</div>
                      <div style="display: flex;align-items: center;gap: 4px;color: var(--neutral-grey-300);">
                        <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0; color: var(--neutral-grey-300);font-size: 16px;">
                          group
                        </span>
                        <div class="text body-12 reg"> {{count(orderData.Return.Seat)}} </div>
                      </div>
                    </div>
                    <div style="width: 100%;height: 1px;background-color: var(--neutral-grey-100);"></div>
                    <div class="passenger-ticket-booked-body">
                      <div style="display: flex;gap: 12px;">
                        <div style="width: 61px;height: 61px;text-align: center;border-radius: 4px;overflow: hidden;">
                          <img src={{orderData.ReturnImage}} alt="" style="width: 61px;min-height: 61px;">
                        </div>
                        <div style="display: flex;flex-direction: column;justify-content: space-between">
                          <div class="text sub-16 sem">Limousine Single Room</div>
                          <div style="display: flex;align-items: center;justify-content: space-between; width: 283px;">
                            <div class="text caption-16 reg" style="color: var(--neutral-grey-300);">Seat number</div>
                            <div class="text sub-16 med"> {{orderData.Return.Seat.toString()}} </div>
                          </div>
                        </div>
                      </div>
                      
                      <div style="display: flex;flex-direction: column;gap: 24px;position: relative;">
                        <div style="border: dashed 0.5px var(--neutral-grey-300);height: 100%;position: absolute;z-index: 0;left: 62.5px;"></div>
                        <div style="display: flex;align-items: start;gap: 8px;background-color: transparent;z-index: 1;">
                          <div style="display: flex;flex-direction: column;gap: 4px;align-items: center;">
                            <div class="text sub-16 sem"> {{convertDateTime(orderData.Return.DTime ,"time")}} </div>
                            <div class="text caption-14 reg" style="color: var(--neutral-grey-300);"> ({{convertDateTime(orderData.Return.DTime ,"date")}}) </div>
                          </div>
                          <span class="material-symbols-outlined" style="color: black; font-size: 16px;background-color: white;">
                            my_location
                          </span>
                          <div style="display: flex;flex-direction: column;gap: 4px;align-items: start;">
                            <div class="text sub-16 sem"> {{orderData.Return.PickUpLocation.Point}} </div>
                            <div class="text caption-14 reg" style="color: var(--neutral-grey-300);"> {{orderData.Return.PickUpLocation.Address}} </div>
                          </div>
                          <div class="text caption-14 reg" style="text-decoration: underline;cursor: pointer;color: var(--neutral-grey-300);" >Edit</div>
                        </div>
                        <div style="display: flex;align-items: start;gap: 8px;background-color: white;z-index: 1;">
                          <div style="display: flex;flex-direction: column;gap: 4px;align-items: center;">
                            <div class="text sub-16 sem"> {{convertDateTime(orderData.Return.ATime, "time")}} </div>
                            <div class="text caption-14 reg" style="color: var(--neutral-grey-300);"> ({{convertDateTime(orderData.Return.ATime, "date")}}) </div>
                          </div>
                          <span class="material-symbols-outlined" style="color: black; font-size: 16px;">
                            location_on
                          </span>
                          <div style="display: flex;flex-direction: column;gap: 4px;align-items: start;">
                            <div class="text sub-16 sem"> {{orderData.Return.DropOffLocation.Point}} </div>
                            <div class="text caption-14 reg" style="color: var(--neutral-grey-300);"> {{orderData.Return.DropOffLocation.Address}} </div>
                          </div>
                          <div class="text caption-14 reg" style="text-decoration: underline;cursor: pointer;color: var(--neutral-grey-300);" >Edit</div>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="border-div5" style="margin-top: 16px;">
                  <div class="button-20 bold">
                      Passenger Information
                  </div>
                  <hr>
                  <div *ngIf="orderData?.PassengerInfo !== undefined">
                      <div class="info-flex" style="margin-bottom: 16px;">
                          <div class="body-16 reg" style="color: #6F757F;">Name</div>
                          <div class="body-16 reg"> {{orderData.PassengerInfo.FullName}} </div>
                      </div>
                      <div class="info-flex" style="margin-bottom: 16px;">
                          <div class="body-16 reg" style="color: #6F757F;">Phone number</div>
                          <div class="body-16 reg">{{orderData.PassengerInfo.PhoneNumber}}</div>
                      </div>
                      <div class="info-flex">
                          <div class="body-16 reg" style="color: #6F757F;">Email</div>
                          <div class="body-16 reg">{{orderData.PassengerInfo.Email}}</div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Popup container -->
<div id="popup1" class="popup">
  <h2>This is a Popup</h2>
  <p>This is some content inside the popup.</p>
  <button onclick="togglePopup('popup1')">Close</button>
</div>

<!-- Overlay to dim the background -->
<div id="overlay" class="overlay"></div>
<script>
  // Function to toggle the visibility of the popup and overlay
  function togglePopup(popupId) {
      var popup = document.getElementById(popupId);
      var overlay = document.getElementById("overlay");
      
      if (popup.style.display === "block") {
          popup.style.display = "none";
          overlay.style.display = "none";
      } else {
          popup.style.display = "block";
          overlay.style.display = "block";
      }
  }
</script>