<div class="wrapper">
  <div class="accountmanagement1">
      <div class="brc">
              <div class="caption-14 reg">
                  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Account Management</li>
                      </ol>
                  </nav>
              </div>
          </div>
          <div class="accountmanagementbox">
              <div class="border-div">
                  <div class="sub-14 med">
                      <div class="oneselect">
                          <div style="padding-bottom: 12px;">
                              Account
                          </div>
                          <div class="childselect">
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_personalinfo.png">
                                  <p class="sub-14 med" style="color: #4D56BE;">Personal Information</p>
                              </div>
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_paymentinfor.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Personal Information</p>
                              </div>
                          </div>
                      </div>
                      <div class="oneselect">
                          <div style="padding-bottom: 12px;">
                              Activities
                          </div>
                          <div class="childselect">
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_tripratings.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Booking History</p>
                              </div>
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_promotions.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Promotions</p>
                              </div>
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_tripratings.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Trip Ratings</p>
                              </div>
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_promotionalinvitation.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Promotional Invitation</p>
                              </div>
                          </div>
                      </div>
                      <div class="oneselect">
                          <div style="padding-bottom: 12px;">
                              Support
                          </div>
                          <div class="childselect">
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_feedback.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Feedback</p>
                              </div>
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_language.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Language</p>
                              </div>
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_helpcenter.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Help Center</p>
                              </div>
                          </div>
                      </div>
                      <div class="oneselect">
                          <div style="padding-bottom: 12px;">
                              Settings
                          </div>
                          <div class="childselect">
                              <div class="optionselect">
                                  <img src="\assets\images\accountmanagement1\img_accountmanagement1_logout.png">
                                  <p class="caption-14 reg" style="color: #6F757F;">Log Out</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="profile">
                  <div class="border-div2">
                      <div class="button-20 bold" style="margin-bottom: 16px;">
                          Recent Information
                      </div>
                      <div class="fixedinfo">
                          <div>
                              <img src="\assets\images\accountmanagement1\img_accoutnmanagement1_ava.png">
                          </div>
                          <div class="fixedinfoscope">
                              <div class="fixedinfo-2" style="margin-bottom: 16px;">
                                  <div class="sub-14 med" style="margin-right: 115px;">
                                      Name:
                                  </div>
                                  <div class="caption-14 reg" style="color: #36373B;">
                                      Nguyen Quoc Khanh
                                  </div>
                              </div>
                              <div class="fixedinfo-2" style="margin-bottom: 16px;">
                                  <div class="sub-14 med" style="margin-right: 117px;">
                                      Email:
                                  </div>
                                  <div class="caption-14 reg" style="color: #36373B;">
                                      khanhnq21411ca&#64;gmail.com
                                  </div>
                              </div>
                              <div class="fixedinfo-2" style="margin-bottom: 16px;">
                                  <div class="sub-14 med" style="margin-right: 58px;">
                                      Phone Number:
                                  </div>
                                  <div class="caption-14 reg" style="color: #36373B;">
                                      (+84) 123 456 789
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="formlist">
                          <div class="button-20 bold" style="margin-bottom: 16px;">
                              Change Information
                          </div>
                          <div>
                              <div class="formparent">
                                  <div class="formmargin">
                                      <form action="" method="post">
                                          <label for="fname">
                                              <div class="formtitle">
                                                  <div class="sub-14 med">
                                                      Full Name
                                                  </div>
                                                  <div class="sub-14 med" style="color: #DD1F13;">
                                                      *
                                                  </div>
                                              </div>
                                          </label><br>
                                          <input type="text" id="fname" name="fname" class="inp-name" value="Nguyen Quoc Khanh"><br>
                                      </form>
                                  </div>
                                  <div class="formmargin">
                                      <form action="" method="post">
                                          <label for="fname">
                                              <div class="formtitle">
                                                  <div class="sub-14 med">
                                                      Phone Number
                                                  </div>
                                                  <div class="sub-14 med" style="color: #DD1F13;">
                                                      *
                                                  </div>
                                              </div>
                                          </label><br>
                                          <input type="text" id="fname" name="fname" class="inp-name" value="(+84) 123 456 789"><br>
                                      </form>
                                  </div>
                                  <div style="margin-bottom: 24px;">
                                      <form action="" method="post">
                                          <label for="fname">
                                              <div class="formtitle">
                                                  <div class="sub-14 med">
                                                      Email
                                                  </div>
                                                  <div class="sub-14 med" style="color: #DD1F13;">
                                                      *
                                                  </div>
                                              </div>
                                          </label><br>
                                          <input type="text" id="fname" name="fname" class="inp-name" value="khanhnq&#64;gmail.com"><br>
                                      </form>
                                  </div>
                              </div>
                          </div>
                          <div>
                              <button type="button" class="button">
                                  Update
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

  </div>
</div>
