<div class="wrapper">
  <div class="background" id="screenBackground"></div>
  <div class="container">
    <h1 class="text head-24 med" style="margin-bottom: 36px;">Reset Password</h1>
    <div class="forgot3-form">
      <label for="newPassword" class="text body-20 reg" align="left" style="margin-bottom: 16px;">Input New Password</label>
      <div style="display: flex">
          <input style="margin-bottom: 24px;" id="OTP" class="inp-new-password text sub-14 reg" type="number" placeholder="Please enter at least 8 characters">
      </div>

      <label for="newPassword" class="text body-20 reg" align="left" style="margin-bottom: 16px;">Confirm New Password</label>
      <div style="display: flex">
          <input style="margin-bottom: 24px;" id="OTP" class="inp-new-password text sub-14 reg" type="number" placeholder="Please re-enter at least 8 characters">
      </div>
    </div>
    <button class="btn button-primary large forgot3-form-btn">Confirm</button>
  </div>
</div>